<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TEST APPLICATION</title>
    </head>
    <body>
        <h1>MONGODB CRUD OPERATIONS TEST</h1>
        <p>
           <ul>
               <% for(var i = 0; i < names.length; i++) { %>
                <li>
                    <span> <%= names[i].name %> </span>
                </li>
                <% } %>
           </ul>
        </p>
        <p><a href="/">Go back</a></p>
    </body>
</html>